rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId}/wishes/{wishId} {

      allow read: if eventId == "dianArman";

      allow create: if eventId == "dianArman"
        && request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.name.size() <= 100
        && request.resource.data.message is string
        && request.resource.data.message.size() > 0
        && request.resource.data.message.size() <= 500
        && request.resource.data.attendance in ['hadir', 'absen', 'ragu']
        && request.resource.data.guestCount is number
        // guestCount bisa 0 jika absen/ragu
        && request.resource.data.guestCount >= 0
        && request.resource.data.guestCount <= 20
        && request.resource.data.date is string
        && request.resource.data.date.size() > 0
        && request.resource.data.date.size() <= 50
        && request.resource.data.reactions.heart == 0
        && request.resource.data.reactions.pray == 0
        && request.resource.data.reactions.sparkle == 0
        // Batasi isi object reactions
        && request.resource.data.reactions.keys().hasOnly(['heart','pray','sparkle'])
        // Batasi field yang boleh ada di dokumen
        && request.resource.data.keys().hasOnly(
             ['name','message','attendance','guestCount','reactions','date', 'createdAt'])
        // createdAt menggunakan server timestamp
        && request.resource.data.createdAt == request.time;

      allow update: if eventId == "dianArman" 
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['reactions'])
        && request.resource.data.reactions.keys().hasOnly(['heart','pray','sparkle'])
        && (
          (request.resource.data.reactions.heart   == resource.data.reactions.heart + 1
           && request.resource.data.reactions.pray   == resource.data.reactions.pray
           && request.resource.data.reactions.sparkle == resource.data.reactions.sparkle)
          ||
          (request.resource.data.reactions.pray    == resource.data.reactions.pray + 1
           && request.resource.data.reactions.heart   == resource.data.reactions.heart
           && request.resource.data.reactions.sparkle == resource.data.reactions.sparkle)
          ||
          (request.resource.data.reactions.sparkle == resource.data.reactions.sparkle + 1
           && request.resource.data.reactions.heart   == resource.data.reactions.heart
           && request.resource.data.reactions.pray   == resource.data.reactions.pray)
        );

      allow delete: if false;
    }
  }
}
